pypdf>=6.1.1
langchain>=0.3.0
langchain-community
langchain-huggingface
langchain-groq
langchain-astradb
torch
sentence-transformers
huggingface-hub
astrapy
python-dotenv
fastapi[standard]
sqlalchemy
pymysql
cryptography
bcrypt
pyjwt
